body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background: linear-gradient(145deg, #6e7ff3, #c6426e);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

input,
select,
p {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input,
select {
  background-color: #e8e8e8;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  background-color: #ffffff;
  color: #4a4a4a;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

@media (max-width: 600px) {
  div {
    width: 90%;
    margin: 0 5%;
  }
}
